:root {
  --color-primary: var(--colors-sunset-500, #F4C468);
  --color-primary-light: var(--colors-sunset-200, #FAE4BD);
  --color-primary-dark: var(--colors-sunset-700, #8F6208);
  --color-secondary: var(--colors-stone-400, #B8B2A5);
  --color-secondary-light: var(--colors-stone-200, #F0EDE6);
  --color-secondary-dark: var(--colors-ocean-1000, #0E1429);
  --color-accent: var(--colors-amber-500);
  --color-accent-light: var(--colors-amber-200);
  --color-accent-dark: var(--colors-amber-700);
  --color-success: var(--colors-sage-500);
  --color-success-light: var(--colors-sage-100);
  --color-success-dark: var(--colors-sage-700);
  --color-warning: var(--colors-amber-300);
  --color-warning-light: var(--colors-amber-200);
  --color-warning-dark: var(--colors-amber-600);
  --color-error: var(--colors-rose-700);
  --color-error-light: var(--colors-rose-300);
  --color-error-dark: var(--colors-rose-900);
  --color-info: var(--colors-mint-600);
  --color-info-light: var(--colors-mint-300);
  --color-info-dark: var(--colors-mint-1000);

  /* Greyscale */
  --color-white-: #FFF;
  --color-stone-50: rgb(255 253 248 / 100%);
  --color-stone-100: rgb(250 248 241 / 100%);
  --color-stone-200: rgb(240 237 230 / 100%);
  --color-stone-300: rgb(224 219 212 / 100%);
  --color-stone-400: rgb(184 178 165 / 100%);
  --color-stone-500: rgb(159 154 145 / 100%);
  --color-stone-600: rgb(143 138 129 / 100%);
  --color-stone-700: rgb(121 116 107 / 100%);
  --color-stone-800: rgb(96 90 83 / 100%);
  --color-stone-900: rgb(66 66 64 / 100%);
  --color-stone-1000: rgb(46 46 43 / 100%);

  /* Red */
  --color-rose-50: rgb(255 241 242 / 100%);
  --color-rose-100: rgb(255 228 230 / 100%);
  --color-rose-200: rgb(247 195 195 / 100%);
  --color-rose-300: rgb(255 101 101 / 100%);
  --color-rose-400: rgb(228 68 68 / 100%);
  --color-rose-500: rgb(183 57 57 / 100%);
  --color-rose-600: rgb(171 42 42 / 100%);
  --color-rose-700: rgb(147 22 22 / 100%);
  --color-rose-800: rgb(138 10 10 / 100%);
  --color-rose-900: rgb(129 17 35 / 100%);
  --color-rose-1000: rgb(103 18 19 / 100%);

  /* Orange */
  --color-amber-50: rgb(255 251 235 / 100%);
  --color-amber-100: rgb(240 220 200 / 100%);
  --color-amber-200: rgb(229 192 156 / 100%);
  --color-amber-300: rgb(219 165 118 / 100%);
  --color-amber-400: rgb(210 141 82 / 100%);
  --color-amber-500: rgb(201 120 48 / 100%);
  --color-amber-600: rgb(187 110 41 / 100%);
  --color-amber-700: rgb(160 91 30 / 100%);
  --color-amber-800: rgb(133 74 21 / 100%);
  --color-amber-900: rgb(104 58 17 / 100%);
  --color-amber-1000: rgb(85 45 10 / 100%);

  /* Yellow */
  --color-sunset-50: rgb(255 254 243 / 100%);
  --color-sunset-100: rgb(252 240 219 / 100%);
  --color-sunset-200: rgb(250 228 189 / 100%);
  --color-sunset-300: rgb(248 217 160 / 100%);
  --color-sunset-400: rgb(246 207 132 / 100%);
  --color-sunset-500: rgb(244 196 104 / 100%);
  --color-sunset-600: rgb(187 128 18 / 100%);
  --color-sunset-700: rgb(143 98 8 / 100%);
  --color-sunset-800: rgb(98 66 6 / 100%);
  --color-sunset-900: rgb(76 51 5 / 100%);
  --color-sunset-1000: rgb(47 30 3 / 100%);

  /* Green */
  --color-sage-50: rgb(250 255 251 / 100%);
  --color-sage-100: rgb(240 253 244 / 100%);
  --color-sage-200: rgb(188 255 201 / 100%);
  --color-sage-300: rgb(157 249 148 / 100%);
  --color-sage-400: rgb(117 246 115 / 100%);
  --color-sage-500: rgb(30 213 103 / 100%);
  --color-sage-600: rgb(21 178 79 / 100%);
  --color-sage-700: rgb(27 145 76 / 100%);
  --color-sage-800: rgb(23 107 62 / 100%);
  --color-sage-900: rgb(16 78 45 / 100%);
  --color-sage-1000: rgb(15 61 45 / 100%);

  /* Mint */
  --color-mint-50: rgb(245 255 253 / 100%);
  --color-mint-100: rgb(217 235 238 / 100%);
  --color-mint-200: rgb(182 219 225 / 100%);
  --color-mint-300: rgb(147 205 213 / 100%);
  --color-mint-400: rgb(109 192 203 / 100%);
  --color-mint-500: rgb(60 181 193 / 100%);
  --color-mint-600: rgb(51 153 153 / 100%);
  --color-mint-700: rgb(0 116 120 / 100%);
  --color-mint-800: rgb(0 95 90 / 100%);
  --color-mint-900: rgb(11 79 74 / 100%);
  --color-mint-1000: rgb(2 47 46 / 100%);

  /* Blue */
  --color-ocean-50: rgb(241 251 255 / 100%);
  --color-ocean-100: rgb(227 246 255 / 100%);
  --color-ocean-200: rgb(183 203 255 / 100%);
  --color-ocean-300: rgb(110 142 201 / 100%);
  --color-ocean-400: rgb(107 121 169 / 100%);
  --color-ocean-500: rgb(86 96 162 / 100%);
  --color-ocean-600: rgb(74 84 143 / 100%);
  --color-ocean-700: rgb(49 63 120 / 100%);
  --color-ocean-800: rgb(41 49 80 / 100%);
  --color-ocean-900: rgb(28 36 62 / 100%);
  --color-ocean-1000: rgb(14 20 41 / 100%);

  /* Purple */
  --color-lavender-50: rgb(252 244 255 / 100%);
  --color-lavender-100: rgb(251 238 255 / 100%);
  --color-lavender-200: rgb(242 205 255 / 100%);
  --color-lavender-300: rgb(232 164 255 / 100%);
  --color-lavender-400: rgb(223 128 255 / 100%);
  --color-lavender-500: rgb(212 83 255 / 100%);
  --color-lavender-600: rgb(193 40 244 / 100%);
  --color-lavender-700: rgb(155 12 203 / 100%);
  --color-lavender-800: rgb(116 4 154 / 100%);
  --color-lavender-900: rgb(85 2 113 / 100%);
  --color-lavender-1000: rgb(63 11 79 / 100%);
}
@theme {
  --color-*: initial;

  /* Slate (earthy version) */
  --grey-50:  #fdfcf8;
  --grey-100: #f4f1ea;
  --grey-200: #e3ddd0;
  --grey-300: #c9c0aa;
  --grey-400: #a89f86;
  --grey-500: #8c8269;
  --grey-600: #746d5a;
  --grey-700: #5c5649;
  --grey-800: #3f3a30;
  --grey-900: #2c281e;
  --grey-1000: #1a170f;

  /* Cherry (deep red) */
  --cherry-50: #fff4f4;
  --cherry-100: #ffe6e7;
  --cherry-200: #f7c3c3;
  --cherry-300: #ff6565;
  --cherry-400: #e44444;
  --cherry-500: #b73939;
  --cherry-600: #ab2a2a;
  --cherry-700: #931616;
  --cherry-800: #8a0a0a;
  --cherry-900: #811123;
  --cherry-1000: #671213;

  /* Tangerine (soft orange) */
  --tangerine-50: #fff3ea;
  --tangerine-100: #ffdbc2;
  --tangerine-200: #ffc088;
  --tangerine-300: #feac55;
  --tangerine-400: #f89938;
  --tangerine-500: #f88017;
  --tangerine-600: #f66e05;
  --tangerine-700: #d96c39;
  --tangerine-800: #cf5c27;
  --tangerine-900: #ba4914;
  --tangerine-1000: #903a12;

  /* Amber (clay-like gold) */
  --amber-50:  #fffbf0;
  --amber-100: #fef4d9;
  --amber-200: #fbf49c;
  --amber-300: #f8cd72;
  --amber-400: #eab32f;
  --amber-500: #c98f0a;
  --amber-600: #a36d07;
  --amber-700: #805607;
  --amber-800: #624206;
  --amber-900: #4c3305;
  --amber-1000: #2f1e03;

  /* Olive-green (using lime & green mix) */
  --olive-50:  #f3fbed;
  --olive-100: #e1f5d1;
  --olive-200: #c2e7a4;
  --olive-300: #a5d373;
  --olive-400: #86b94a;
  --olive-500: #6b9934;
  --olive-600: #547a29;
  --olive-700: #3f5b1f;
  --olive-800: #2f4517;
  --olive-900: #233513;
  --olive-1000: #121d08;

  /* Teal (using blue & green mix) */
  --teal-50:  #f0fdfa;
  --teal-100: #e6fff9;
  --teal-200: #acf8e2;
  --teal-300: #7be7bc;
  --teal-400: #6dc497;
  --teal-500: #4ba58e;
  --teal-600: #399;
  --teal-700: #007478;
  --teal-800: #005f5a;
  --teal-900: #0b4f4a;
  --teal-1000: #022f2e;

  /* Sky (deep blue) */
  --sky-50:  #f2fbff;
  --sky-100: #e3f6ff;
  --sky-200: #b7e7ff;
  --sky-300: #8cd8ff;
  --sky-400: #4dc0f9;
  --sky-500: #0794dc;
  --sky-600: #016699;
  --sky-700: #154d8c;
  --sky-800: #10377b;
  --sky-900: #0e236d;
  --sky-1000: #0f1031;

  /* Fuchsia (pink and purples) */
  --fuchsia-50:  #fbeeff;
  --fuchsia-100: #f8e2ff;
  --fuchsia-200: #f2cdff;
  --fuchsia-300: #e8a4ff;
  --fuchsia-400: #df80ff;
  --fuchsia-500: #d453ff;
  --fuchsia-600: #c128f4;
  --fuchsia-700: #9b0ccb;
  --fuchsia-800: #74049a;
  --fuchsia-900: #550271;
  --fuchsia-1000: #3f0b4f;
  --color-white: #FFF;
  --color-black: #000;
  --color-contrast: #FFF;
}

.dark {
  --color-tangerine-1000:#ffdbc2;
  --color-tangerine-900:#ffc088;
  --color-tangerine-800:#feac55;
  --color-tangerine-700:#ff9421;
  --color-tangerine-600:#ff9537;
  --color-tangerine-500:#fb8429;
  --color-tangerine-400:#d96c39;
  --color-tangerine-300:#cf5c27;
  --color-tangerine-200:#ba4914;
  --color-tangerine-100:#903a12;
  --color-amber-1000:#ffe2a7;
  --color-amber-900:#ffce68;
  --color-amber-800:#ffbe39;
  --color-amber-700:#feb92c;
  --color-amber-600:#f0a202;
  --color-amber-500:#db9c08;
  --color-amber-400:#d78e06;
  --color-amber-300:#c5790f;
  --color-amber-200:#ad6008;
  --color-amber-100:#6d3a0e;
  --color-sky-1000:#baeeff;
  --color-sky-900:#75d7f7;
  --color-sky-800:#50c8f1;
  --color-sky-700:#3ac4f4;
  --color-sky-600:#22a6d3;
  --color-sky-500:#1d8baf;
  --color-sky-400:#217f9f;
  --color-sky-300:#14617b;
  --color-sky-200:#11546a;
  --color-sky-100:#0b3948;
  --color-cherry-1000:#ffd6d7;
  --color-cherry-900:#ffb4b6;
  --color-cherry-800:#f75a5d;
  --color-cherry-700:#d13d40;
  --color-cherry-600:#c52b2e;
  --color-cherry-500:#c92530;
  --color-cherry-400:#ae172e;
  --color-cherry-300:#a8122d;
  --color-cherry-200:#811123;
  --color-cherry-100:#671213;
  --color-teal-1000:#d1ffff;
  --color-teal-900:#93d3d0;
  --color-teal-800:#82c5be;
  --color-teal-700:#45a9a7;
  --color-teal-600:#3b918f;
  --color-teal-500:#2e8281;
  --color-teal-400:#23706f;
  --color-teal-300:#1f6c69;
  --color-teal-200:#126367;
  --color-teal-100:#0b5054;
  --color-fuchsia-1000:#f7e8ff;
  --color-fuchsia-900:#d5b4ee;
  --color-fuchsia-800:#b89ce2;
  --color-fuchsia-700:#a589ce;
  --color-fuchsia-600:#9c80c5;
  --color-fuchsia-500:#7d5fab;
  --color-fuchsia-400:#7254a0;
  --color-fuchsia-300:#5e4684;
  --color-fuchsia-200:#43315e;
  --color-fuchsia-100:#302343;
  --color-olive-1000:#deffe1;
  --color-olive-900:#c4feca;
  --color-olive-800:#9df994;
  --color-olive-700:#75f673;
  --color-olive-600:#64ee74;
  --color-olive-500:#51dc61;
  --color-olive-400:#3ecb73;
  --color-olive-300:#3da364;
  --color-olive-200:#30794c;
  --color-olive-100:#205735;

  /* Greyscale */
  --color-white: #000;
  --color-black: #FFF;
  --color-contrast: #000;
  --color-grey-1000:#f6f5f7;
  --color-grey-900:#f4f2f2;
  --color-grey-800:#efefef;
  --color-grey-700:#ebebeb;
  --color-grey-600:#ccc9c9;
  --color-grey-500:#bdbcbc;
  --color-grey-400:#9b9898;
  --color-grey-300:#7e7b7b;
  --color-grey-200:#5b5757;
  --color-grey-100:#424040;
  --color-grey-50:#2e2b2b;
}
